@page "/"
@using Zavrsni.Rad.AnamarijaZron.Models;
@inject HttpClient httpClient;
@inject NavigationManager navManager;


<PageTitle>AMR  Web Shop</PageTitle>


<section class="header">
    <div class="text-box">
        <h1>Welcome to AMR Web Shop</h1>
        <p>
            Perfect site to find what you need
        </p>
    </div>
</section>

 

<h3>Category List</h3>

<ul>
    @foreach (var item in categories)
    {
        <li class="category-item">
            <div class="category-content">
                <div class="category-details">
                    
                    
                    <p class="category-list">
                        @{
                            var url = $"/category/{item.Id}/{item.CategoryName}";
                        }
                        <a class="link4" href="@url">@item.CategoryName</a>
                    </p>
                    <h5 class="category-desc">
                        @item.CategoryDescription
                    </h5>
                </div>
            </div>
        </li>
    }
</ul>





@code {
    private List<Category> categories = new List<Category>();

    protected override async Task OnInitializedAsync()
    {
        var result = await httpClient.GetAsync("https://expertshopapi.azurewebsites.net/api/Categories");
        if (result.IsSuccessStatusCode)
        {
            categories = await result.Content.ReadFromJsonAsync<List<Category>>();

        }
    }

   

}