@page "/Admin/dashboard"


<h3>Dashboard</h3>

<div class="custom-nav">
    <NavLink class="nav-link" href="Admin/category-list" Match="NavLinkMatch.All">
        <span class="oi oi-list" aria-hidden="true"></span> Category List
    </NavLink>

    <NavLink class="nav-link" href="Admin/list-products" Match="NavLinkMatch.All">
        <span class="oi oi-tags" aria-hidden="true"></span> Product List
    </NavLink>
</div>

@code {

}
