@page "/Admin/list-products"
@using Zavrsni.Rad.AnamarijaZron.Models;
@inject HttpClient httpClient;
@inject NavigationManager navManager;

<h3>Product List</h3>

<button type="button" @onclick="AddProduct" class="button">Add New Product</button>
<br />
<br />
<ul>
    @foreach (var item in products)
    {
        <li>
            <div class="product1 product-container">
                @item.ProductName
                <br>
                @item.ProductDescription
                <br>
                <button class="button "@onclick="()=>Edit(item.Id)">Edit</button>
                <button type="button" @onclick="()=>DeleteProduct(item.Id)" class="btn btn-danger">Delete</button>
            </div>
            <div>
                @{
                    var images = productImages.Where(x => x.ProductId == item.Id).ToList();
                    foreach (var image in images)
                    {
                        <img src="@image.imagePath" width="200px;" />
                    }
                }
            </div>
        </li>
    }
</ul>
@code {
    private List<Product> products = new List<Product>();
    private List<ImageFilePath> productImages = new List<ImageFilePath>();


    protected override async Task OnInitializedAsync()
    {
        var apiResult = await httpClient.GetAsync("https://expertshopapi.azurewebsites.net/api/Products");
        if (apiResult.IsSuccessStatusCode)
        {
            products = await apiResult.Content.ReadFromJsonAsync<List<Product>>();

            foreach (var item in products)
            {
                var getImg = await GetImages(item.Id);
                productImages.AddRange(getImg);
            }
        }
    }

    public async Task<List<ImageFilePath>> GetImages(int id)
    {
        var apiResult = await httpClient.GetAsync($"https://expertshopapi.azurewebsites.net/api/FilesUpload/get-product-photos/{id}");
        var images = new List<ImageFilePath>();
        if (apiResult.IsSuccessStatusCode)
        {
            images = await apiResult.Content.ReadFromJsonAsync<List<ImageFilePath>>();

        }
        return images;

    }

    public async void Edit(int id)
    {
        navManager.NavigateTo($"Admin/edit-product/{id}");
    }
    public async void DeleteProduct(int id)
    {
        navManager.NavigateTo($"/Admin/delete-product/{id}");

    }

  public async void AddProduct()
    {
        navManager.NavigateTo("/Admin/add-product");

    }
   }